@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #ede9e9;
  color: #eceeef;
  font-family: 'Open Sans', sans-serif;
}


.Main {
  grid-template-columns: minmax(auto, 976px);
  display: grid;
  justify-content: center;
  padding: 10px;
}

.Header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5457e2;
}

.Header-main h1{
    color: #f4f4f4;
    font-size: 45px;
    margin-left: 50px;
}

.Header a {
  text-decoration: none;
  color: #ffffff;
}



.Categorias{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* margin-left: 20px; */
}

.Categorias p {
  font-size:24px;
  color: #939696;
  line-height:48px;
  text-align:left;
  margin-top: 18px;
}

.Categorias button{
  background:#c1c2c2;
  border-radius:100px;
  width:220px;
  height:45px;
  font-size:20px;
  color:#ffffff;
  border:none;
  line-height:48px;
  text-align: center;

}

.button-container{
  margin-top: 20px;
  display: flex;
  margin-left: 30px;
  gap: 20px;
}

.Categorias .button-blue{
  background:#2233f09b;
  border-radius:100px;
  width:130px;
  height:45px;
  font-size:20px;
  color:#ffffff;
  line-height:48px;
  text-align: center;
}


.Product {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 100px;
  grid-row-gap: 1.5em;
  display: grid;
}


.Product-items {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgb(248, 247, 248), 1px 3px 8px rgb(245, 245, 245);
  border-radius: 7px;
  display: block;
}

.Product-items img {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0 0;
}

.Products-items h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.Product-items a {
  text-decoration: none;
  color: #2e3030;
}

.Products-inner{
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  margin-top: 60px;
  align-items: center;
  display: grid;
}

.Products-card{
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(228, 230, 232, 0.919), 1px 3px 8px rgba(226, 227, 228, 0.942);
  border-radius: 6px;
  margin: 20px 20px 20px 20px;
  display: block;
}

.Products-card img
{
  width: 100%;
  height: 150px;
}

.Products-card h2 {
  font-size: 18px;
  font-weight: 400;
  color:#080a09;
  text-align: center;
}

.Products-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 25px;
  color:#080a09;
  text-decoration: none;
}



